/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colors */
:root{
    --light-color: #fff;
    --bluish-color: #367D99;
}

h1, h2, h3, h4, h5, h6{
    color: #333;
}

p{
    color: #686d76;
}
/* stick the navbar */
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

/* navbar links */
#navbarNav ul li a{
    color: var(--light-color);
    font-weight: 600;
    text-align: right;
    /* float: left; */
}

#navbarNav ul li a:hover{
    border-bottom: 1px solid #fff;
}
.navbar, .banner{
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/* toggler */
.navbar-toggler{
    text-align: center;
    border: none;
}
.navbar-toggler:focus{
    outline: none;
}

.fa-bars{
    color: var(--light-color);
    font-size: 30px;
}

/* Banner */

#banner-heading{
    margin-top: 70px;
    color: var(--light-color);
}

#banner-p{
    color: var(--light-color);
    line-height: 1.8rem;
}

#clean-btn{
    background-color: var(--bluish-color);
    color: var(--light-color);
    margin-top: 10px;
}
 .wave{
    width: 100% !important;
    overflow-x: hidden;
} 

/* Services */

#services{
    margin-bottom: 50px;
}
#services h1{
    margin-bottom: 30px;
}

#services-icon img, #services-content h3{
    margin-bottom: 10px;
}

#services-content p{
    font-size: .9rem;
    color: #686d76;
}

#services-card{
    margin: 10px 0;
}

/* offer */

#offer{
    margin-top: 100px;
}

#offer-content{
    margin-top: 100px;
}

#offer-content h1{
    margin-bottom: 20px;
}

#offer-content p{
    color: #686d76;
    line-height: 2rem;
}

/* Neat & Clean  */
#neat-clean{
    margin-top: 100px;
}

#neat-p{
    margin-bottom: 30px;
}
.fa-grip-lines-vertical{
    margin-top: 10px; 
    color: #EC6F66;
    font-size: 20px;
}
.fa-grip-lines-vertical:before{
    height: 100px;
}
.vl {
    border-left: 4px solid #EC6F66;
    height: 30px;
    margin-top: 10px;
}

.vl-2{
    border-left: 4px solid rgba(236, 111, 102, 0.5);
    height: 30px;
    margin-top: 10px;
}

.vl-3{
    border-left: 4px solid rgba(236, 111, 102, 0.3);
    height: 30px;
    margin-top: 10px;
}

.fa-check-circle{
    color: #EC6F66;
    font-size: 20px;
}

#circle-2{
    color: rgba(236, 111, 102, 0.5);
}
#circle-3{
    color: rgba(236, 111, 102, 0.3);
}

#neat-content{
    margin-left: 20px;
}

#neat-content h6{
    font-weight: 700;
    color: #333;
}
#neat-content p{
    font-size: 12px;
}



/* How It Works */

#howitworks{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: #EC6F66;
    color: #fff;
}

#howitworks h1, #howitworks h3{
    color: #fff !important;
}
#howitworks h1{
    margin-top: 50px;
}


#divider-separator{
    border-bottom: 4px solid var(--bluish-color);
    width: 40px;
    /* margin-top: -20px;  */
    margin-bottom: 10px;
    margin-left: 10px;
}

/* book */

#book{
    height: 700px;
    position: relative;
}
#book::before{
 
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/disinfecting-home.jpg');
    content: ' ';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    filter: opacity(0.6);
    width: 100%;
    height: 100%;
    z-index: -1;

}

#book h1, h4{
    color: var(--bluish-color);
}

#book h1{
  padding-top: 50px;
}

#book h4{
    margin-top: 20px;
}

form{
    margin-top: 30px;
}


#book-vl{
    margin: 0 10px;
    border-left: 2px solid #EC6F66;
}

.input-group-prepend, .input-group-append{
    background-color: #fff;
    border: none;
}

#rating{
    margin-top: 30px;
}

#rating h6{
    color: #333;
    margin-left: 20px;
    font-weight: 700;
}
.fa-star{
    color: #F6921E;
}

/* Footer */
footer{
    background-color: #EC6F66;
    padding-bottom: 50px;
}

#about-sec, #quick-links, #service-areas{
    margin-top: 50px;
   
}
#about-sec h2, #quick-links h2, #service-areas h2{
    position: relative;
    margin-bottom: 20px;
    color: #fff;
}
#about-sec h2:before, #quick-links h2::before, #service-areas h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background: var(--bluish-color);
}

#about-sec p{
    color: #fff;
}

#about-sec ul{
    list-style: none;
}
#footer-icon a{
    color: #fff !important;
}
#footer-icon i{
    margin-right: 10px !important;
    width: 40px;
    height: 40px;
    background-color: var(--bluish-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-icon i:hover{
    background-color: #fff;
    color: var(--bluish-color);
}

#quick-links ul, #service-areas ul{
    list-style: none;
}
#quick-links ul li a ,#service-areas ul li a{
    color: #fff;
}

@media (max-width: 990px){
	
	.navbar{
		height: 70px;
	}
	.navbar-brand img {
		height: 50px;
	}
	
	   .form-group.d-flex{
       flex-direction: column;  
      }

      .form-group input .form-group #inputbedroom{
          margin-bottom: 20px;
      }
	  
	   #email-mobile .form-control {
          margin-bottom: 20px;
      }

}
@media(max-width:510px){

    #navbarNav ul li a:hover{
        border: none;
    }

 
     

      #book h1{
          font-size: 1.8rem;
      }
    #book-vl{
        display: none;
    }


    #rating.d-flex{
        flex-direction: column;  

    }
   #neat-clean-img img, #offer-img img{
       width: 300px;
       height: 250px;
    }
    footer .container.d-flex{
        flex-direction: column !important;
    }
	
}
/* https://www.uplabs.com/posts/landing-page-9bbaad6a-9ac4-4c43-8b1b-50b6a1d3a05b 
https://assets.materialup.com/uploads/2c72cbbb-75ee-4a9d-b715-4b9cc34b80ad/preview.png
https://blog.rapidweblaunch.com/cleaning-website-examples/
https://stackoverflow.com/questions/54118928/how-to-create-a-total-using-plus-minus-buttons-and-input-box
https://stackoverflow.com/questions/52125163/how-to-create-a-minus-and-plus-button-to-update-a-field
https://cleanzen./
https://i.pinimg.comcom/564x/6b/d7/e5/6bd7e55c412fefc24495dad7eefb5211.jpg

*/
